* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


h1 {

    color: rgb(255, 166, 0);
    font-size: 35px;
}

img {

    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

h2 {
    margin-top: 10px;
    
}

hr {
    width: 30%;
    color: orange;
}


/* Header */


#header_container {

    /* background-color: aqua; */
    width: 100%;
    
    text-align: center;
    
}

/* Main */

main {

    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    background-color: rgba(246,245,243,255);
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;

}   

.general_box {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 85%;
}
.tiramisu_video_box{

    /* background-color: blue; */
    /* height: 700px; */
    width: 100%;
    margin-top: 20px;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    
   
}

.video_box {

    width: 100%;
    /* height: 300px; */
    /* background-color: red; */
    box-shadow: 10px 10px 3px #dedede;
    margin-top: 20px;
}

.description_box {

    width: 100%;
    /* height: 300px;
    background-color: rgb(241, 1, 213); */
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px 3px #dedede;
    
}

#banner_container {

    width: 100%;
    display: none;
}

#social_button_box {

    width: 100%;
    height: 100px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_button {

    
    border-radius: 100%;
    background-color: white;
    width: 30px;
    padding: 5px;
    text-align: center;
}

/* Parte presentazione */

.tiramisu_presentation{

    /* background-color: blue; */
    /* height: 700px; */
    width: 100%;
    /* margin-top: 20px; */
    display: flex;
    flex-wrap: wrap;
    
    
    /* justify-content: center; */
    
   
    
    
    
   
}

#tiramisu_presentation_box {

    width: 70%;
    margin-top: 50px;
    margin-bottom: 20px;
    
}


.tiramisu_presentation h2 {

    font-size: 40px;
    border-bottom: 2px solid orange;
    width: 60px;
}

#presentation_center {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}



/* Footer */

footer {

    background-color: rgb(158, 75, 236);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.footer_container{

    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
   
    
    
    flex-wrap: wrap;
    margin-top: 20px;

}


.footer_container_section {

    width: 70%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    
    
    margin-top: 20px;
}

.footer_container_section a {

    color: white;
}

.footer_container p {

    color: white;
}